
@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<div class="slider">
    <!-- Set up your HTML -->
    <div class="owl-carousel ">
        <div class="slider-img">
            <div class="item">
                <div class="slider-img"><img src="~/user/assets/images/slider/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="animated bounceInDown slider-captions">
                                <h1 class="slider-title">Most Stylish Free Travel Website</h1>
                                <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/user/assets/images/slider/slider-1.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">It's time for better help.</h1>
                            <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/user/assets/images/slider/slider-2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Most Attractive Travel Template</h1>
                            <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--  ************************* About Us Starts Here ************************** -->
<!--body-->
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius faucibus
                    ligula non congue. Suspendisse at pretium massa, sit amet
                    vulputate nibh. Nam posuere eros dolor. Donec vel arcu sagittis, pretium nisl
                </p>
                <p>
                    Cras faucibus laoreet nibh, sit amet tincidunt leo mollis in. Etiam eu mauris metus.
                    Nulla facilisi. Etiam vestibulum,
                    nisi et convallis elementum, leo orci aliquam metus, id posuere massa neque vitae
                    arcu.
                </p>

                <p>
                    Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien,
                    eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et
                    . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit
                    amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at
                    dapibus elit bibendum consequat. Cras faucibus tellus eleifend, fermentum purus in,
                    dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida
                    vestibulum, urna justo posuere ante,
                    id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus
                </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <i class="fas fa-user"></i>
                            <p>Becom a Volunteer</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ################# Mission Vision Start Here #######################--->

<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Our Mission</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque libero, pulvinar et elementum quis, facilisis eu ante. Mauris non placerat sapien. Pellentesque tempor arcu non odio scelerisque ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.</p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="~/user/assets/images/misin.jpg" alt="">
            </div>
        </div>
        <div class="row vision">
            <div class="col-md-6 mv-img">
                <img src="~/user/assets/images/vision.jpg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                <h1>Our Vision</h1>
                <p>Ut ultricies lacus a rutrum mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed porta dolor quis felis pulvinar dignissim. Etiam nisl ligula, ullamcorper non metus vitae, maximus efficitur mi. Vivamus ut ex ullamcorper, scelerisque lacus nec, commodo dui. Proin massa urna, volutpat vel augue eget, iaculis tristique dui.</p>
            </div>
        </div>
    </div>
</section>



<!-- ################# Events Start Here#######################--->
<section class="events">
    <div class="container">
        <div class="session-title row">
            <h2>Popular Causes</h2>
            <p>We are a non-profital & Charity raising money for child education</p>
        </div>
        <div class="event-ro row">

            @{
                var events = ViewBag.evt;
                if (events != null)
                {
                    for (int i = 0; i <= 2; i++)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="event-box">
                                @if (events[i].PhotoEvent == null)
                                {
                                    <img src="~/user/assets/images/events/donate.png" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; ">
                                }
                                else
                                {
                                    <img src="~/user/assets/images/events/@events[i].PhotoEvent" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; ">
                                }

                                <h4 class="font-weight-bold">@events[i].NameEvent</h4>
                                <p class="raises"><span style="color:#365F1D;" class="radioA">Raised : $@Convert.ToDecimal(events[i].AmoutAchievedEvent).ToString("#,##0")</span> / <span class="radioA" style="font-size:18px;color:orange">$ @Convert.ToDecimal(events[i].MoutEvent).ToString("#,##0") </span> </p>
                                <p class="desic" style="height:58px">@events[i].ContentEvent </p>
                                <a class="btn btn-success btn-sm" asp-controller="donation" asp-action="index" asp-route-id="@events[i].IdEvent">Donate Now</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="event-box">
                            <img src="~/user/assets/images/events/image_06.jpg" alt="">
                            <h4>Child Education in Africa</h4>
                            <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                            <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                            <button class="btn btn-success btn-sm">Donate Now</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="event-box">
                            <img src="~/user/assets/images/events/image_04.jpg" alt="">
                            <h4>Child Education in Africa</h4>
                            <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                            <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                            <button class="btn btn-success btn-sm">Donate Now</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="event-box">
                            <img src="~/user/assets/images/events/image_04.jpg" alt="">
                            <h4>Child Education in Africa</h4>
                            <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                            <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                            <button class="btn btn-success btn-sm">Donate Now</button>
                        </div>
                    </div>
                }

            }



        </div>
    </div>
</section>




<!-- ################# Charity Number Starts Here#######################--->


<div class="doctor-message">
    <div class="inner-lay">
        <div class="container">
            <div class="row session-title">
                <h2>Our Achievemtns in Numbers</h2>
                <p>
                    We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
                    But you can read the following facts in order to make sure of all pluses of our clinic:
                </p>
            </div>
            <div class="row">
                <div class="col-sm-3 numb">
                    <h3>12+</h3>
                    <span>YEARS OF EXPEREANCE</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>1812+</h3>
                    <span>HAPPY CHILDRENS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>52+</h3>
                    <span>EVENTS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>48+</h3>
                    <span>FUNT RAISED</span>
                </div>
            </div>
        </div>

    </div>

</div>

<!--################### Our Team Starts Here #######################--->
<section class="our-team team-11">
    <div class="container">
        <div class="session-title row">
            <h2>Meet our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vel nisl a dictum. Donec ut est arcu. Donec hendrerit velit</p>
        </div>
        <div class="row team-row">
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="/images/avatar/33b0e0c94f894ca0bf20cec0b9fca31a.jpeg" alt="">
                    <div class="det-o">
                        <h4>Hồ Ngọc Đức</h4>
                        <i>Team Leader </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="~/images/avatar/199d626640684705a22a719934247b4d.jpeg" alt="">
                    <div class="det-o">
                        <h4>Trần Hữu Nhật Trường</h4>
                        <i>Good boy</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="/images/avatar/42efb373792043a59a60de1306c6f9d0.jpeg" alt="">
                    <div class="det-o">
                        <h4>Hà Sỹ Thiện</h4>
                        <i>The best style</i>
                    </div>
                </div>
            </div>           

        </div>
    </div>
</section>



<!-- ################# Our Blog Starts Here#######################--->

<section class="our-blog">
    <div class="container">
        <div class="row session-title">
            <h2> Our Blog </h2>
            <p>Take a look at what people say about US </p>
        </div>
        <div class="blog-row row">
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="~/user/assets/images/events/image_01.jpg" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="~/user/assets/images/events/image_02.jpg" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="~/user/assets/images/events/image_03.jpg" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>