@model IntraHealth.Models.ContractUsN
@{
    ViewData["Title"] = "create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            contract Intralhealth <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-area="admin" asp-controller="home" asp-action="index">Home</a></li>
            <li><a asp-area="admin" asp-controller="contract" asp-action="list">contract</a></li>
            <li><a asp-area="admin" asp-controller="contract" asp-action="create" class="active">contract</a></li>
        </ol>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-10 ">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        New contract
                    </div>
                    <div class="panel-body">
                        <form method="post" asp-area="admin" asp-controller="contract" asp-action="create">
                            <div class="modal-body">
                                <div hidden class="form-group">
                                    <label for="exampleInputEmail1">Name event</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name" asp-for="IdContractUs">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputAuthor">DateCreate</label>
                                    <input type="date" class="form-control" id="exampleInputAuthor" placeholder="Enter author" asp-for="DateCreate">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputAddress">Details</label>
                                    <input type="text" class="form-control" id="exampleInputAddress" placeholder="Enter address" asp-for="Details">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputmount">IdUser</label>
                                    <input type="number" class="form-control" id="exampleInputmount" placeholder="0" asp-for="IdUser">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEndtime">Status</label>
                                    <select asp-for="StatusContratcus" class="form-select">
                                        <option style="color:green" value="true">Hoạt đông</option>
                                        <option style="color:red" value="false">không hoạt động</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Save changes</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

