
@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/user/assets/css/NgoStyle.css" rel="stylesheet" />
<section class="m-5">
    <div class="container">
        <div class="text-center mb-5">
            <h5 class="text-primary h6">Other Ngo</h5>
            <h2 class="display-20 display-md-18 display-lg-16">List of Others assocical NGO's</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/FFB6C1/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Kitchen Cleaning</h3>
                            <p class="display-30">Proin gravida nibh vel velit auctor alique.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/6495ED/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Window Cleaning</h3>
                            <p class="display-30">Gravida proin nibh vel velit auctor alique.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/008B8B/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Storage Cleaning</h3>
                            <p class="display-30">Nibh proin gravida vel velit auctor alique.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/00CED1/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Floor Cleaning</h3>
                            <p class="display-30">Vel proin gravida nibh velit auctor alique.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/483D8B/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Office Cleaning</h3>
                            <p class="display-30">Auctor proin gravida nibh vel velit alique.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/FF69B4/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Carpet Cleaning</h3>
                            <p class="display-30">Aliquetenean proin gravida nibh vel velit.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-1-9 mb-sm-0">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/87CEFA/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Toilet Cleaning</h3>
                            <p class="display-30">Nibh auctor proin gravida vel velit aliquet.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://via.placeholder.com/280x280/20B2AA/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">Glass Cleaning</h3>
                            <p class="display-30">Gravida aliquetenean proin nibh vel velit.</p>
                            <a href="#!" class="read-more">view project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

