
@{
    ViewData["Title"] = "error";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Event Intralhealth <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-area="admin" asp-controller="home" asp-action="index">Home</a></li>
            <li><a asp-area="admin" asp-controller="events" asp-action="index">Event</a></li>
            <li><a asp-area="admin" asp-controller="events" asp-action="create">Create</a></li>
        </ol>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detail event
                    </div>
                    <div class="panel-body">
                        @ViewBag.errMessege
                        <div class="hit-the-floor">404</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

