body {
    background: #eee;
    margin-top: 20px;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
}

    .card-wrapper .card-img {
        text-align: center;
        position: relative;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .card-wrapper .card-img img {
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            border-radius: 0.25rem;
            border-radius: 0.25rem;
        }

    .card-wrapper .card-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        padding: 30px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 0.25rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.8s;
        transition: 0.8s;
        z-index: 11;
    }

    .card-wrapper:before {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        right: 100%;
        z-index: 9;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        background: rgba(0, 186, 238, 0.82);
        border-radius: 0.25rem;
    }

    .card-wrapper:hover:before {
        right: 0;
    }

    .card-wrapper h3,
    .card-wrapper p {
        color: #fff;
    }

    .card-wrapper .read-more {
        color: #fff;
    }

        .card-wrapper .read-more:after {
            color: #fff;
        }

    .card-wrapper:hover .card-body {
        visibility: visible;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    .card-wrapper:hover .backgound-color {
        right: 0;
    }

.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

@media (min-width: 992px) {
    .mb-lg-0, .my-lg-0 {
        margin-bottom: 0 !important;
    }
}

.read-more:after {
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    padding-left: 8px;
    font-weight: 900;
    color: #00baee;
    vertical-align: middle;
}
